.user-message {
    position: relative;
    display: flex;
    margin: 15px;
    background-color: #0099e6;
    border-radius: 12px;
    color: white;
    padding: 20px;
}

.system-message {
    position: relative;
    display: flex;
    margin: 15px;
    background-color: gainsboro;
    border-radius: 12px;
    padding: 20px;
}